@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .text{
        font-family: "Roboto", sans-serif;
        margin-top: 10%;
        text-align: center;
        font-weight: bold;
        font-style: italic;
    }
</style>

<div class="text">
    You are Unauthorized to Access this Resource
</div>
